/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Global styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    color: #ffffff;
    padding: 20px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.hero-content {
    text-align: center;
    padding: 100px 0;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #0366d6;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0356ad;
}

footer {
    color: white;
    padding: 20px 0;
    text-align: center;
    color: whith;
}

@media only screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links.active {
        display: block;
    }
}